


  <h1 id="impressum_h1">Impressum</h1>


  <div id="impressum">

    <h3>Anschrift:</h3>
    <ul>
      <li>ScooTec GmbH</li>
      <li>Dratelnstraße 26</li>
      <li>21109 Hamburg</li>
      <li>Deutschland</li>
      <li>Tel.040/987654321</li>
      <li>scootec@gmail.com</li>
    </ul>
  </div>
  <div>
    <h3>Verantwortlich für die Seite::</h3>
    <ul>
      <li>F*Scam GmbH</li>
      <li>Ballindamm 27</li>
      <li>20095 Hamburg</li>
      <li>Tel.040/123456789</li>
      <li>f@scam.com</li>
      <li>Amtsgericht: Hamburg HBR 123 456</li>
      <li>UID-Nr.: DE 12 34 56 78</li>
      <li>WEEE-Reg.Nr: DE 12 34 56 78</li>
    </ul>
  </div>








