<mat-card>


  <h1 id="impressum_h1">Impressum</h1>
  <h2>F*Scam</h2>


  <div id="impressum">

    <h3>Anschrift:</h3>
    <ul>
      <li>F*Scam GmbH</li>
      <li>Ballindamm 27</li>
      <li>20095 Hamburg</li>
      <li>Deutschland</li>
      <li>Tel.04103/1234</li>
      <li>fscam@gmail.com</li>
    </ul>
  </div>
  <div>
    <h3>Allgemeines:</h3>
    <ul>
      <li>Geschäftsführer: Mr.F & Mr.C</li>
      <li>Amtsgericht: Hamburg HBR 123 456</li>
      <li>UID-Nr.: DE 12 34 56 78</li>
      <li>WEEE-Reg.Nr: DE 12 34 56 78</li>
      <li>Verantwortlich für die Seite: Mr.M, Mr.S, Mrs.A</li>
    </ul>
  </div>


</mat-card>





