<mat-card-title class="my-style-header" color="accent">Berechne deine Fahrtkosten:</mat-card-title>
<mat-card-subtitle></mat-card-subtitle>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <p>
    <mat-form-field class="my-style" appearance="fill">

      <mat-label>Wohin geht die Fahrt?</mat-label>

      <mat-select formControlName="distance">
        <mat-option value="5">Altona</mat-option>
        <mat-option value="5">Barmbek</mat-option>
        <mat-option value="16">Blankenese</mat-option>
        <mat-option value="5">Eimsbüttel</mat-option>
        <mat-option value="7">Eppendorf</mat-option>
        <mat-option value="3">Hafencity</mat-option>
        <mat-option value="4">Harvestehude</mat-option>
        <mat-option value="6">Horn</mat-option>
        <mat-option value="7">Ottensen</mat-option>
        <mat-option value="4">Sternschanze</mat-option>
        <mat-option value="1">St.Georg</mat-option>
        <mat-option value="3">St.Pauli</mat-option>
        <mat-option value="7">Wandsbek</mat-option>
        <mat-option value="10">Wilhelmsburg</mat-option>
        <mat-option value="6">Winterhude</mat-option>

      </mat-select>
    </mat-form-field>


  </p>

  <section>
    <div class="my-style">
      <button type="submit" mat-flat-button color="accent">Fahrpreis berechnen</button>
    </div>
  </section>
</form>




